@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./assets/horizon-dark.css');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,*:focus,*:hover{
    outline:none;
}
@layer utilities {
    .shadowbutton {
        box-shadow: 0px 4px 48px rgba(130, 115, 238, 0.5)
    }
    .shadowbutton:hover {
        box-shadow: 0px 4px 48px rgba(130, 115, 238, 0.8)
    }
    .shadowcopied {
        box-shadow: 0px 4px 48px rgba(130, 115, 238, 0.3)
    }

}
a {
    cursor: pointer;
}

    /* width */
    code::-webkit-scrollbar {
        width: 5px;
        height: 7px;
    }

    /* Track */
   code::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Handle */
    code::-webkit-scrollbar-thumb {
        background: #f1f1f1;
        border-radius: 10px;
    }

    /* Handle on hover */
    code::-webkit-scrollbar-thumb:hover {
        background: #dddddd;
    }


        /* width */
        ::-webkit-scrollbar {
            width: 9px;
            height: 7px;
        }
    
        /* Track */
       ::-webkit-scrollbar-track {
            background: transparent;
        }
    
        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: linear-gradient(180deg, #a375ed 0%, #6970F3 100%);
            border-radius: 10px;
        }
    
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: linear-gradient(180deg, #b393e5 0%, #9498f0 100%);
        }

    .dmsans {
        font-family: 'DM Sans', sans-serif;
    }

    *::selection {
        background-color: #f0e7ff;

    }